/* override bootstrap box-sizing */
/* code from stack overflow answer https://stackoverflow.com/questions/34790054/css-disable-bootstrap-box-sizing */
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* override bootstrap line-height */
* {
  line-height: 1.25;
}

/* classes */
.chart-container {
  font-size: 0;
  margin: 0;
  padding: 0;
}

.bar-gen {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  position: relative;
}

/* tooltip css adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
.bar-gen .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 100%;
  margin-left: -60px;
}

.bar-gen:hover .tooltiptext {
  visibility: visible;
}

.bar {
  vertical-align: text-bottom;
}

.spacer {
  display: inline-block;
}

.horizontal {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
}

.bar-value {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.label {
  font-size: 14px;
}

.center {
  top: 40%;
}

.bottom {
  bottom: 5px;
}

.top {
  top: 5px;
}

.tick {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.y-axis-spacer {
  display: inline-block;
  font-size: 14px;
}

.yaxis {
  background-color: transparent;
  border-right-style: solid;
  display: inline-block;
  font-size: 14px;
  vertical-align: text-bottom;
  position: relative;
}

.title {
  text-align: center;
}
