/* classes */
.chart-container {
  font-size: 0;
}

.bar-gen {
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.bar {
  vertical-align: text-bottom;
  padding-top: 5px;
}

.spacer {
  width: 5px;
}

.horizontal {
  border: none;
  height: 1px;
}
